---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Event timer.">
    <div class="p-8">
        <div class="shadow p-2 text-center bg-white">
            <h1 class="text-4xl">Event timer</h1>
            <p
                class="text-4xl text-slate-600"
                id="countdown">
                Loading..
            </p>
        </div>
    </div>
</Layout>
